<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devil May Cry</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav class="navbar">
        <a href="/">Inicio</a>
    </nav>

    <section class="content">
        <h2>Devil May Cry</h2>
        <img src="/images/game2.jpg" alt="Devil May Cry">
        <p>Devil May Cry es una saga de videojuegos hack and slash desarrollada por Capcom. 
        La historia sigue a Dante, un cazador de demonios con habilidades sobrenaturales que busca venganza por la muerte de su madre. 
        Con un sistema de combate estilizado, acción intensa y una narrativa envolvente, Devil May Cry es uno de los referentes en su género.</p>

        <h3>Tráiler de Devil May Cry</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CMjNBDq6lnQ?si=FjKfPUn15wUbHnLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</body>
</html>
