<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota 2</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav class="navbar">
        <a href="/">Inicio</a>
    </nav>

    <section class="content">
        <h2>Dota 2</h2>
        <img src="/images/game3.jpg" alt="Dota 2">
        <p>Dota 2 es un videojuego de estrategia en tiempo real y multijugador en línea desarrollado por Valve. Es uno de los juegos más populares en los eSports con millones de jugadores alrededor del mundo.</p>

        <h3>Tráiler de Dota 2</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-cSFPIwMEq4?si=dwBftR0Mf2AahFch" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

</body>
</html>

