<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav class="navbar">
        <a href="/">Inicio</a>
    </nav>

    <section class="content">
        <h2>Halo</h2>
        <img src="/images/game1.jpg" alt="Halo">
        <p>Halo es una saga de videojuegos de disparos en primera persona desarrollada por Bungie y actualmente manejada por 343 Industries. 
        Sigue la historia del supersoldado Master Chief en su lucha contra el Covenant, el Flood y los Forerunners. 
        Con un universo extenso, multijugador competitivo y una narrativa inmersiva, Halo es una de las franquicias más icónicas del gaming.</p>

        <h3>Tráiler de Halo</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rFh2i4AlPD4?si=LegklSfBUv3rvrHF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

</body>
</html>
